<div class="container">
  <div class="row justify-content-center">
    <div class="product_edit col-8 text-center">
      <h2>商品編集</h2>
    </div>
  </div>

  <% if @product.errors.any? %>
    <div class = "alert">
      <%= @product.errors.count %>件のエラーが発生しました
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

  <%= form_with model: @product, url: store_store_product_path, local: true do |f| %>
  <div class='row justify-content-center'>
    <div class='col-8'>
      <div class='form-group'>
        <%= f.label '商品画像' ,class: 'col-sm-3' %>
        <%= f.attachment_field :image  %>
      </div>
      <div class='form-group'>
        <%= f.label '商品名', class: 'col-sm-3' %>
        <%= f.text_field :name, class: 'col-md-8', placeholder: "商品名" %>
      </div>
      <div class='form-group'>
        <%= f.label 'ジャンル', class: 'col-sm-3' %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください'}, class: 'col-md-8' %>
      </div>
      <div class='form-group'>
        <%= f.label '税抜価格', class: 'col-sm-3' %>
        <%= f.text_field :selling_price, class: 'col-sm-8', placeholder: "1000" %>円
      </div>
      <div class='form-group'>
        <%= f.label '販売ステータス', class: 'col-sm-3' %>
        <%= f.collection_radio_buttons :is_selling, Product.is_sellings_i18n, :first , :last %>
      </div>
      <div class='text-center'>
        <%= f.submit '変更を保存', class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
</div>