<div class="container">
  <div class="row justify-content-center">
    <div class="product_index col-8 text-center">
      <h2>商品一覧</h2>
    </div>
  </div>
  
      <div class="new_product">
        <%= link_to '新規登録', new_store_product_path , class: "btn-lg btn-primary" %>
      </div>
 
  <div>
    <% @genres.each do |genre| %>
    <div class="genre-name row justify-content-center">
      <h3><%= genre.name %></h3>
    </div>
    <div class="product-list">
      <% @products.where(genre_id: genre.id).each do |product| %>
      <div class="product">
          <div class="product-image">
            <%= attachment_image_tag(product, :image, :fill, 150, 150) %>
          </div>
          <div class="product-name">
            <%= link_to product.name, store_product_path(product), class: "product_#{product.id}" %>
          </div>
          <div class="product-price">
            <%= product.selling_price %>円（税込）
          </div>
          <div class="product-is_selling">
            <% if product.is_selling == "on_sale" %>
              <span class="text-success"><%= product.is_selling_i18n %></span>
            <% else %>
              <span class="text-secondary"><%= product.is_selling_i18n %></span>
            <% end %>
          </div>
          <div class="product_review_box">
             総レビュー<span class="review_count_box"><%= product.reviews.count %></span>
          </div>
      </div>
      <% end %>
    </div>
    <% end %>

</div>

