<div class="container">
  <div class="row justify-content-center">
    <div class="product_show col-8 text-center">
      <h2>商品詳細</h2>
    </div>
  </div>
  <div class='product_edit_delete_btn'>
    <% if @store == current_store %>
      <%= link_to '編集', edit_store_product_path(@product), class: 'btn-lg btn-primary' %>
      <%= link_to '削除', store_product_path(@product), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-lg btn-danger "%>
    <% end %>
  </div>

　<div class='row justify-content-center'>
　  <div  class="product_image col-4">
　    <%= attachment_image_tag(@product, :image, :fill, 300, 300) %>
　  </div>
　  <div class="product_information col-5">
　    <div class="product_information_show">
　      店舗名 <span class="information_box"><%= @product.store.name %></span>
　    </div>
　    <div class="product_information_show">
　      商品名 <span class="information_box"><%= @product.name %></span>
　    </div>
　    <div class="product_information_show">
　      ジャンル名 <span class="information_box"><%= @product.genre.name %></span>
　    </div>
　    <div class="product_information_show">
　      価格<span class="information_box"><%= @product.selling_price*1.1.floor %>円</span>（税込）
      </div>
      <div class="product_information_show">
      　販売ステータス
        <% if @product.is_selling == "on_sale" %>
          <span class="information_box text-success"><%= @product.is_selling_i18n %></span>
        <% else %>
          <span class="information_box text-secondary"><%= @product.is_selling_i18n %></span>
        <% end %>
      </div>
      <div class="product_information_show">
        総レビュー数<span class="information_box"><%= @reviews.count %></span>
      </div>
      <div class="product_information_show">
        
      </div>
　  </div>
　</div>

<%= render 'user/reviews/new', review: @review%>
</div>
</div>
<div class="list-user">
  <div class="table_title">
    <p class="row justify-content-center">レビュー一覧</p>
  </div>
      <table class="table">
        <thead class="thead">
          <tr>
            <th>投稿日</th>
            <th>ユーザー名</th>
            <th>フォロワー数</th>
            <th>ユーザーランキング</th>
            <th>評価</th>
            <th>レビュー内容</th>
          </tr>
        </thead>
        <tbody>
        <div class="scroll-list jscroll">
          <% @reviews.each do |review| %>
              <tr>
                <td>
                  <%= link_to user_review_path(review) do %>
                  <%= review.created_at.strftime('%Y/%m/%d/%T') %>
                  <% end %>
                </td>
                <td>
                  <%= link_to user_user_path(review.user_id) do %>
                  <%= review.user.name %>
                  <% end %>
                </td>
                <td><%= link_to review.user.followers.count,user_user_followers_path(review.user_id) %></td>
                <td>平均評価</td>
                <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
                <td><%= review.contents %></td>
              </tr>
          <% end %>
          <%= paginate @reviews %>
          </div>
        </tbody>
      </table>
  </div>
  <script>
  $('.review-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>