<h2>商品詳細</h2>
<% if @store == current_store %>
 <%= link_to '編集', edit_store_product_path(@product), class: 'btn btn-primary mb-3' %>
 <%= link_to '削除', store_product_path(@product), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger "%>
 <% end %>
<div class='container'>
　<div class='row'>
　  <%= attachment_image_tag(@product, :image, :fill, 300, 300) %>
　  <%= @product.store.name %>
　  <%= @product.name %>
　  <%= @product.genre_id %>
　  <%= @product.selling_price %>
    <% if @product.is_selling == "on_sale" %>
      <span class="text-success"><%= @product.is_selling_i18n %></span>
    <% else %>
      <span class="text-secondary"><%= @product.is_selling_i18n %></span>
    <% end %>
    <span>総レビュー数<%= @reviews.count %></span>
　</div>
</div>

<%= render 'user/reviews/new', review: @review%>

<div class="list-user">
      <p>レビュー</p>
      <table class="table">
        <thead class="thead">
          <tr>
            <th>投稿日</th>
            <th>ユーザー名</th>
            <th>フォロワー数</th>
            <th>ユーザーランキング</th>
            <th>評価</th>
            <th>レビュー内容</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <td>
              <%= link_to user_review_path(review) do %>
              <%= review.created_at.strftime('%Y/%m/%d/%T') %>
              <% end %>
            </td>
            <td>
              <%= link_to user_user_path(review.user_id) do %>
              <%= review.user.name %>
              <% end %>
            </td>
            <td></td>
            <td></td>
            <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
            <td><%= review.contents %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <script>
  $('.review-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>