<div class="container">
  <div class="row justify-content-center">
    <div class="product_show col-6 text-center">
      <h2>商品詳細</h2>
    </div>
  </div>
  <div class='product_edit_delete_btn'>
    <% if @store == current_store %>
      <%= link_to '編集', edit_store_product_path(@product), class: 'btn-lg btn-success' %>
      <%= link_to '削除', store_product_path(@product), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-lg btn-danger "%>
    <% end %>
    <%= link_to '商品一覧', store_store_products_path(@product.store_id), class: 'btn-lg btn-primary' %>
  </div>

  <div class='row justify-content-center'>
    <div  class="product_image col-4">
      <%= attachment_image_tag(@product, :image, :fill, 300, 300) %>
    </div>
    <div class="product_information col-5">
      <div class="product_information_show">
        店舗名
        <span class="information_box">
          <%= link_to store_store_path(@product.store_id) do %>
           <%= @product.store.name %>
          <% end %>
        </span>
    </div>
        <div class="product_information_show">
        商品名 <span class="information_box"><%= @product.name %></span>
      </div>
    <div class="product_information_show">
          ジャンル名 <span class="information_box"><%= @product.genre.name %></span>
      </div>
      <div class="product_information_show">
        価格<span class="information_box"><%= @product.selling_price*1.1.floor %></span>円（税込）
      </div>
      <div class="product_information_show">
              販売ステータス
        <% if @product.is_selling == "on_sale" %>
          <span class="information_box text-success"><%= @product.is_selling_i18n %></span>
        <% else %>
          <span class="information_box text-secondary"><%= @product.is_selling_i18n %></span>
        <% end %>
      </div>
      <div class="product_information_show">
        総レビュー数<span class="information_box"><%= @reviews.count %></span>
    </div>
      <div class="product_information_show">
        総料理評価<span class="review-evaluation" data-score="<%= @reviews.sum(:evaluation).fdiv(@reviews.count)%>"></span>
      </div>
    </div>
  </div>

<!--レビュー投稿フォームはユーザーがログインしている時のみ表示-->
<% if user_signed_in? %>
 <%= render 'user/reviews/new', review: @review%>
<% end %>

</div>
</div>
<div class="list-user">
  <div class="table_title">
    <p class="row justify-content-center">レビュー一覧</p>
  </div>
      <table class="table">
        <thead class="thead">
          <tr>
            <th>投稿日</th>
            <th>ユーザー名</th>
            <th>フォロワー数</th>
            <th>評価</th>
            <th>レビュー内容</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
              <tr>
                <td>
                  <%= link_to user_review_path(review) do %>
                  <%= review.created_at.strftime('%Y/%m/%d/%T') %>
                  <% end %>
                </td>
                <td>
                  <%= link_to user_user_path(review.user_id) do %>
                  <%= review.user.name %>
                  <% end %>
                </td>
                <td><%= link_to review.user.followers.count,user_user_followers_path(review.user_id) %></td>
                <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
                <td><%= review.contents %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <span class="row justify-content-center"><%= paginate @reviews %></span>
  </div>
  <script>
  $('.review-evaluation').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",s
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>