<% visiter = notification.visiter %>
<% product = notification.product %>

<div class="store-view clearfix ">
  <%= link_to stores_store_path(notification.visiter) do %>
    <%= attachment_image_tag visiter, :image, :fill,100,100, format: "jpeg", fallback: "no_image.jpg", size: "50x50", class:"profile-img-circle" %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@review.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @ewview %></p>
  <% end %>
</div>