<div  class="list-user">
  <div class="table_title">
    <p class="row justify-content-center">ユーザー一覧</p>
  </div>
  <div class="scroll-list jscroll">
  <table class="table">
    <thead class="thead">
      <tr>
        <th>ユーザー名</th>
        <th>フォロー数</th>
        <th>フォロワー数</th>
        <th>1レビューの平均いいね</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td class="text-center">
            <%= link_to user_user_path(user.id) do %>
            <%= user.name %>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to user.followings.count,user_user_followings_path(user.id) %>
          </td>
          <td class="text-center">
            <%= link_to user.followers.count,user_user_followers_path(user.id) %>
            </td>
          <td class="text-center">
            <% begin %>
              <%= user.reviews.map {|review| review.favorites.count}.sum / user.reviews.count %>
            <% rescue %>
              <p>0</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <span class="row justify-content-center"><%= paginate users %></span>
  </div>
</div>
