<div class="search">
      検索覧
</div>
<% if users.exists? %>
    <% @followers.each do |user| %>
      <table class='table'>
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>フォロー数</th>
            <th>フォローワー数</th>
            <th>ユーザーランキング</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_user_path(user.id) do %>
              <%= user.name %>
              <% end %>
            </td>
            <td>フォロー数:<%= user.followings.count %></td>
            <td>フォロワー数:<%= user.followers.count %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>

  <% if users.exists? %>
    <% @followings.each do |user| %>
      <table class='table'>
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>フォロー数</th>
            <th>フォローワー数</th>
            <th>ユーザーランキング</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_user_path(user.id) do %>
              <%= user.name %>
              <% end %>
            </td>
            <td>フォロー数:<%= user.followings.count %></td>
            <td>フォロワー数:<%= user.followers.count %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>