<div class="container">
  <div class="row justify-content-center">
    <div class="review_name font-weight-normal mt-3 mb-3 text-center">
    <h2>レビュー内容更新</h2>
    </div>
  </div>

　<div class='row justify-content-center'>
　  <div class="product_image col-4">
　    <%= attachment_image_tag(@review.product, :image, :fill, 300, 300) %>
　  </div>
　  <div class="review_information col-4">
　    <div class="information_edit">
  　    料理名<span class="information_box"><%= @review.product.name %></span>
  　   </div>
  　   <div class="information_edit">
  　   ジャンル名<span class="information_box"><%= @review.product.genre_id %></span>
  　   </div>
  　   <div class="information_edit">
  　   価格<span class="information_box"><%= @review.product.selling_price %>円</span>（税込）
  　   </div>
  　   <div class="information_edit">
  　   販売ステータス
        <% if @review.product.is_selling == "on_sale" %>
          <span class="information_box text-success"><%= @review.product.is_selling_i18n %></span>
        <% else %>
          <span class="information_box text-secondary"><%= @review.product.is_selling_i18n %></span>
        <% end %>
      </div>
    </div>
　</div>

  <div class="row justify-content-center">
    <div class="review_new col-8 text-center">
      <h4>レビューを更新する</h4>
    </div>
  </div>

  <% if @review.errors.any? %>
    <div class = "alert">
      <%= @review.errors.count %>件のエラーが発生しました
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

  <%= form_with model: @review, url: user_review_path, local:true do |f| %>
    <div class="row justify-content-center">
      <div id="evaluate_stars" class="col-3">
        <%= f.label :evaluation, '料理評価', class: 'evaluation-stars' %>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= f.text_area :contents, rows:'3' , cols:'60',placeholder: "コメントをここに" %>
    </div>
      <%= f.hidden_field :product_id, value: params[:id] %>
    <div class="row justify-content-center">
      <%= f.submit 'レビュー更新', class:"btn btn-warning" %>
    </div>
    <% end %>
</div>
<script>
  $('#evaluate_stars').raty(
    {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[evaluation]',
    half: true,
  });

</script>
