<div class="container">
  <div class="row justify-content-center">
    <div class="review_name font-weight-normal mt-5 mb-5 text-center">
    <h1>レビュー詳細</h1>
    </div>
  </div>
  <div class="edit_delete">
    <% if @store == current_store %>
      <%= link_to '編集', edit_user_review_path(@review), class: 'btn-lg btn-success' %>
      <%= link_to '削除', user_review_path(@review), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-lg btn-danger "%>
    <% end %>
  </div>

  <table class="table">
    <thead class="thead">
      <tr>
        <th>投稿日</th>
        <th>投稿ユーザー</th>
        <th>フォロー数</th>
        <th>フォロワー数</th>
        <th>いいね</th>
        <th>ランキング</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to user_review_path(@review) do %>
          <%= @review.created_at.strftime('%Y/%m/%d/%T') %>
          <% end %>
        </td>
        <td>
          <%= link_to user_user_path(@review.user_id) do %>
          <%= @review.user.name %>
          <% end %>
        </td>
        <td><%= link_to @user.followings.count %></td>
        <td><%= link_to @user.followers.count %></td>
        <td id="favorite_buttons_<%= @review.id %>">
          <%= render 'user/favorites/favorite', review: @review %>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>

　<div class='row justify-content-center'>
　  <div class="product_image col-4">
　    <%= attachment_image_tag(@review.product, :image, :fill, 300, 300) %>
　  </div>
　  <div class="product_information col-6">
　    <div class="information_show">
　      料理評価<span class="review-evaluation" data-score="<%= @review.evaluation %>"></span>
　    </div>
　    <div class="information_show">
　      料理名<span class="information_box"><%= @review.product.name %></span>
　    </div>
　    <div class="information_show">
　      料理ジャンル<span class="information_box"><%= @review.product.genre.name %></span>
　    </div>
　    <div class="information_show">
　      価格<span class="information_box"><%= @review.product.selling_price*1.1.floor %>円</span>（税込）
　    </div>
　    <div class="information_show">
　      販売ステータス
  　     <% if @review.product.is_selling == "on_sale" %>
          <span class="information_box text-success"><%= @review.product.is_selling_i18n %></span>
        <% else %>
          <span class="information_box text-secondary"><%= @review.product_id.is_selling_i18n %></span>
        <% end %>
　    </div>
　    <div class="information_contemts">
　      レビュー内容
　      <div class="contents_box"><%= @review.contents %></div>
　    </div>
    </div>
　</div>
</div>
<script>
  $('.review-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
