<div  class="list-store">
  <div class="table_title">
    <p class="row justify-content-center">店舗一覧</p>
  </div>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>店舗名</th>
        <th>総料理評価</th>
        <th>総レビュー数</th>
      </tr>
    </thead>
    <tbody>
    <div class="scroll-list jscroll">
      <% stores.each do |store| %>
        <tr>
          <td class="text-center">
            <%= link_to store_store_path(store.id) do %>
            <%= store.name %>
            <% end %>
          </td>
          <td class="text-center">
            <span class="review-evaluation" data-score="<%= Review.where(product_id: Product.where(store_id: store.id).ids).sum(:evaluation).fdiv(Review.where(product_id: Product.where(store_id: store.id).ids).count)%>"></span>
          </td>
          <td class="text-center"><%= Review.where(product_id: Product.where(store_id: store.id).ids).count %></td>
        </tr>
      <% end %>

    </div>
    </tbody>
  </table>
</div>

<script>
  $('.review-evaluation').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
