<div>
  <%= attachment_image_tag(@store, :image, :fill, 300, 300) %>
  <% if @store == current_store %>
  <%=  link_to "編集する", edit_store_store_path(current_store.id), class: "btn-sm btn-success" %>
  <% end %>
  <%= link_to '商品一覧画面', store_products_path, class: 'btn btn-primary' %>
</div>


<div class="container">
  <div class="row justify-content-center">
      <div class="col-12">
        <div class="form-group">
         <%= @store.name %>
        <label class="form-label">店舗ジャンル</label><%= @store.store_genres %>
        <label class="form-label">店舗ランキング</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="form-group">
        <label class="form-label">郵便番号</label><%= @store.post_code %>
        <label class="form-label">店舗住所</label><%= @store.address %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="form-group">
        <label class="form-label">お問い合わせ電話番号</label><%= @store.telephone_number %>
        <label class="form-label">メールアドレス</label><%= @store.email %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="form-group">
        <label class="form-label">営業時間</label><%= @store.business_hours %>
        <label class="form-label">ご予約サイト</label><%= @store.reservation_site %>
        </div>
      </div>
    </div>

  <div class="list-user">
      <p>レビュー</p>
      <table class="table">
        <thead class="thead">
          <tr>
            <th>投稿日</th>
            <th>ユーザー名</th>
            <th>フォロワー数</th>
            <th>ユーザーランキング</th>
            <th>評価</th>
            <th>レビュー内容</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <td>
              <%= link_to user_review_path(review) do %>
              <%= review.created_at.strftime('%Y/%m/%d/%T') %>
              <% end %>
            </td>
            <td>
              <%= link_to user_user_path(review.user_id) do %>
              <%= review.user.name %>
              <% end %>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= review.contents %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>