<div class="store-image row justify-content-center">
  <%= attachment_image_tag(@store, :image, :fill, 425, 300 ) %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="info-name col-sm-4 text-center">
      <h4>店舗情報</h4>
    </div>
  </div >
  <div class="edit-index">
    <% if @store == current_store %>
    <%= link_to "編集する", edit_store_store_path(current_store.id), class: "btn setting_btn btn-success" %>
    <%= link_to "ジャンル登録",store_store_genres_path(current_store.id), class: 'btn setting_btn btn-primary' %>
    <%= link_to '商品登録', new_store_store_product_path(current_store.id) , class: "btn setting_btn btn-primary" %>
    <% end %>
    <%= link_to '商品一覧画面', store_store_products_path(@store.id), class: 'btn setting_btn btn-primary' %>
  </div >

  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      店舗名<span class="information_box"><%= @store.name %></span>
    </div >
  </div >
  <div class="row justify-content-center">
    <div class="info-genre-lank col-sm-3 text-center ">
      店舗ジャンル<span class="information_box"><%= @store.store_genres %></span>
    </div>
    <div class="info-genre-lank col-sm-4 text-center ">
      料理総平均評価
      <span class="review-evaluation information_box" data-score="<%= @reviews.sum(:evaluation).fdiv(@reviews.count)%>"></span>
    </div>
  </div >
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="information_left">
      お問い合わせ電話番号<span class="information_box"><%= @store.telephone_number %></span>
      </div>
      <div class="information_left">
      メールアドレス<span class="information_box"><%= @store.email %></span>
      </div>
      <div class="information_left">
      営業時間<span class="information_box"><%= @store.business_hours %></span>
      </div>
      <div class="information_left">
      ご予約サイト<span class="information_box"><%= @store.reservation_site %></span>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="information_right">
      郵便番号<span class="information_box"><%= @store.post_code %></span>
      </div>
      <div class="information_right">
      店舗住所<span class="information_box"><%= @store.address %></span>
      </div>
      <div id="map"></div>
    </div>
  </div>

  <div class="list-user">
    <div class="table_title">
      <p class="row justify-content-center">レビュー</p>
    </div>
      <table class="table">
        <thead class="thead">
          <tr>
            <th>投稿日</th>
            <th>レビュー商品</th>
            <th>ユーザー名</th>
            <th>フォロワー数</th>
            <th>評価</th>
            <th>レビュー内容</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <%= link_to user_review_path(review) do %>
                <%= review.created_at.strftime('%Y/%m/%d') %>
                <% end %>
              </td>
              <td>
                <%= link_to store_store_product_path(review.product.store_id, review.product_id) do %>
                <%= review.product.name%>
                <% end %>
              </td>
              <td>
                <%= link_to user_user_path(review.user_id) do %>
                <%= review.user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to review.user.followers.count,user_user_followers_path(review.user_id) %>
              </td>
              <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
              <td>
                <%= review.contents %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <span class="row justify-content-center"><%= paginate @reviews %></span>
  </div>
</div>
 <script>
  $('.review-evaluation').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    }

  });
</script>
<script type="text/javascript">
  function initMap() {
//latitude,longitudeから位置を特定
    var test ={lat: <%= @store.latitude %>, lng: <%= @store.longitude %>};
    console.log(test)
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @store.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
 //Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                  });

     marker.addListener('click', function() {
      infowindow.open(map, marker);
      });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
</script>