<header class="header">
  <div class="head">

    <% if user_signed_in? %>
    <!--ユーザーがログインしている時-->
      <div class="head-left-user">
          <%= link_to root_path, class: 'header-title-user' do %>
          <p class="main-title-user text-dark">TDRF</p>
          <p class="sub-title-user text-dark">〜本当に美味しいお店をみつけよう〜</p>
          <% end %>
      </div>
      <div class="head-right-user">
        <nav class=" navbar navbar-expand-xl navbar-dark mt-3 mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="nav-user collapse navbar-collapse" id="navbarNav3">
            <ul class="link-lists-user navbar-nav">
              <li><%= link_to "TOP",root_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to "ユーザー&店舗一覧",user_users_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to "Myページ",user_user_path(current_user), class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link nav-list text-dark' %></li>
            </ul>
          </div>
        </nav>
      </div>
    <% elsif store_signed_in? %>
    <!--店舗がログインしている時-->
      <div class="head-left-store">
          <%= link_to root_path, class: 'header-title' do %>
          <p class="main-title-store text-dark">TDRF</p>
          <p class="sub-title-store text-dark">〜本当に美味しいお店をみつけよう〜</p>
          <% end %>
      </div>
      <div class="head-right-store">
        <nav class=" navbar navbar-expand-xl navbar-dark mt-3 mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="nav-store collapse navbar-collapse" id="navbarNav3">
            <ul class="link-lists-store navbar-nav">
              <li><%= link_to "TOP",root_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to "店舗&ユーザー一覧",store_stores_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to "My店舗",store_store_path(current_store), class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <% if unchecked_notifications.any? %>
                  <i class="fa fa-circle" style="color: gold;"></i>
              <% end %>
              <li>
                  <%= link_to "通知", store_notifications_path, class: "fas fa-sign-out-alt nav-link nav-list text-dark" %>
              </li>
              <li><%= link_to "ジャンル一覧&登録",store_store_genres_path(current_store.id), class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to '商品登録', new_store_store_product_path(current_store.id), class: 'fas fa-sign-out-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to '商品一覧', store_store_products_path(current_store.id), class: 'fas fa-sign-out-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to "店舗ログアウト",destroy_store_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link nav-list text-dark' %></li>
            </ul>
          </div>
        </nav>
      </div>
    <% else %>
      <!--ログイン前-->
      <div class="head-left">
        <nav class=" navbar navbar-expand-xl navbar-dark mt-3 mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="nav-left collapse navbar-collapse " id="navbarNav3">
            <ul class="lists-left navbar-nav">
              <li><%= link_to "ユーザー登録",new_user_registration_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to "ユーザーログイン",new_user_session_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="head-right">
        <nav class=" navbar navbar-expand-xl navbar-dark mt-3 mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="nav-right collapse navbar-collapse " id="navbarNav3">
            <ul class="lists-right navbar-nav">
              <li><%= link_to "店舗登録",new_store_registration_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
              <li><%= link_to "店舗ログイン",new_store_session_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            </ul>
          </div>
        </nav>
        <%= link_to root_path, class: 'header-title' do %>
        <p class="main-title text-dark">TDRF</p>
        <p class="sub-title text-dark">〜本当に美味しいお店をみつけよう〜</p>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</header>