<header class='top-page-header'>

    <div class="header-top-content">
      <!--管理者と顧客で表示変更-->
    <%= link_to root_path, class: 'header-title' do %>
      <div>TDRF</div>
      <div class='header-sub-title'>〜本当に美味しいお店をみつけよう〜</div>
    <% end %>
  
    <div class="nav">
        <ul class="lists-right">
          <% if user_signed_in? %>
          <!--ユーザーがログインしている時-->
            <li><%= link_to "TOP",root_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "ユーザー&店舗一覧",user_users_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "Myページ",user_user_path(current_user), class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "ユーザーログアウト",destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light' %></li>
          <% elsif store_signed_in? %>
          <!--店舗がログインしている時-->
            <li><%= link_to "TOP",root_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "店舗&ユーザー一覧",store_stores_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "My店舗",store_store_path(current_store), class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "ジャンル一覧",store_genres_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "店舗ログアウト",destroy_store_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light' %></li>
          <% else %>
          <!--ログイン前-->
            <li><%= link_to "TOP",root_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "ユーザー&店舗一覧",user_users_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "ユーザー登録",new_user_registration_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "店舗登録",new_store_registration_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "ユーザーログイン",new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            <li><%= link_to "店舗ログイン",new_store_session_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
            
            
          <% end %>
        </ul>
      </div>

</header>