<header class="header">
  <div class="head">

    <% if user_signed_in? %>
    <!--ユーザーがログインしている時-->
    <div class="head-left-user">
          <%= link_to root_path, class: 'header-title-user' do %>
          <p class="main-title-user text-dark">TDRF</p>
          <p class="sub-title-user text-dark">〜本当に美味しいお店をみつけよう〜</p>
          <% end %>
      </div>
      <div class="head-right-user">
        <div class="nav-user">
          <ul class="link-lists-user">
            <li><%= link_to "TOP",root_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to "ユーザー&店舗一覧",user_users_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to "Myページ",user_user_path(current_user), class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link nav-list text-dark' %></li>
          </ul>
        </div>
      </div>
    <% elsif store_signed_in? %>
    <!--店舗がログインしている時-->
      <div class="head-left-store">
          <%= link_to root_path, class: 'header-title' do %>
          <p class="main-title-store text-dark">TDRF</p>
          <p class="sub-title-store text-dark">〜本当に美味しいお店をみつけよう〜</p>
          <% end %>
      </div>
      <div class="head-right-store">
        <div class="nav-store">
          <ul class="link-lists-store">
            <li><%= link_to "TOP",root_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to "店舗&ユーザー一覧",store_stores_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to "My店舗",store_store_path(current_store), class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <% if unchecked_notifications.any? %>
                <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
            <li>
                <%= link_to "通知", store_notifications_path, class: "fas fa-sign-out-alt nav-link nav-list text-dark" %>
            </li>
            <li><%= link_to "ジャンル一覧&登録",store_store_genres_path(current_store.id), class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to '商品登録', new_store_store_product_path(current_store.id), class: 'fas fa-sign-out-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to '商品一覧', store_store_products_path(current_store.id), class: 'fas fa-sign-out-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to "店舗ログアウト",destroy_store_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link nav-list text-dark' %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <!--ログイン前-->
      <div class="head-left">
        <div class="nav-left">
          <ul class="lists-left">
            <li><%= link_to "ユーザー登録",new_user_registration_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to "ユーザーログイン",new_user_session_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
          </ul>
        </div>
      </div>
      <div class="head-right">
        <div class="nav-right">
          <ul class="lists-right">
            <li><%= link_to "店舗登録",new_store_registration_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
            <li><%= link_to "店舗ログイン",new_store_session_path, class: 'fas fa-sign-in-alt nav-link nav-list text-dark' %></li>
          </ul>
        </div>
        <%= link_to root_path, class: 'header-title' do %>
        <p class="main-title text-dark">TDRF</p>
        <p class="sub-title text-dark">〜本当に美味しいお店をみつけよう〜</p>
        <% end %>
      </div>
    <% end %>
  </div>
</header>